
p { background-color: aquamarine;}

ul {background-color: darkblue;}

#critica {color: blue;}

#historialetras {color: darkolivegreen;}

#laprimera {color: indigo;}

#resenaletras {color: midnightblue;}

.rosa {color: darksalmon;}
.celeste{color: aquamarine;}
.verde{color: chartreuse;}
.blanco{color: aliceblue;}